.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	max-width: var(--container-width, auto);
	margin: 0 auto;
	padding: 72px 0 144px;
}

.titleDescription {
	max-width: 550px;
}

.image {
	width: 100%;
	height: auto;
	margin-top: 26px;
}

.mainContent {
	width: 100%;
	max-width: var(--container-width, auto);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
	box-sizing: border-box;
	
	/* Адаптивные отступы */
		padding: 0;
	padding-left: max(0px, calc((100% - min(100%, var(--container-width, 1030px))) / 2));
	padding-right: max(0px, calc((100% - min(100%, var(--container-width, 1030px))) / 2));

}